#top {
	background-color: #da4d4d;
}

.bar.background-image-fixed-3 {
  background: url('../img/fixed-background-3.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.limelight-ad {
	background: url('../img/wallpaper-curl.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.btn-footer {
	background-color: #6aae7a;
	color: #fff;
}

.btn-footer:hover {
	background-color: #fff;
	color: #6aae7a;
}