#top {
	background-color: #da4d4d;
}

.bar.background-image-fixed-3 {
  background: url('../img/fixed-background-3.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
